# See https://blog.theodo.com/2019/08/empower-your-dev-environment-with-eslint-prettier-and-editorconfig-with-no-conflicts/
[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 160 # Gets inherited by .prettierrc
end_of_line = lf # Gets inherited by .prettierrc
indent_style = space # Gets inherited by .prettierrc
indent_size = 2 # Gets inherited by .prettierrc

[{*.jhm, *.xslt, *.xul, *.rng, *.xsl, *.xsd, *.ant, *.tld, *.fxml, *.jrxml, *.xml, *.jnlp, *.wsdl}]
indent_size = 4

[*.md]
indent_size = 4
