# Inherits rules from .editorconfig - See https://blog.theodo.com/2019/08/empower-your-dev-environment-with-eslint-prettier-and-editorconfig-with-no-conflicts/
semi: true
trailingComma: 'all'
singleQuote: true
