/**
 * This font uses recommended best-practices from Lee Robinson (Vercel).
 *
 * TL;DR:
 * - Only use WOFF/WOFF2 format, never use TTF or OTF
 * - Only use "font-display: optional" (using "block" (or none) will FOIT, using "swap" will FOUT/FOFT)
 * - If you want to use "font-display: swap", check out "Font Metrics Override" (experimental) https://leerob.io/blog/fonts#future
 *
 * @see https://css-tricks.com/fout-foit-foft/ Acronyms explanations
 * @see https://leerob.io/blog/fonts
 * @see https://www.youtube.com/watch?v=G0cOQ79WKZE Comprehensive video about how to properly configure Fonts in 2021
 * @see https://csswizardry.com/2020/05/the-fastest-google-fonts/ In-depth understanding of the different configurations and how they affect perfs
 * @see https://stackoverflow.com/questions/11002820/why-should-we-include-ttf-eot-woff-svg-in-a-font-face
 * @see https://stackoverflow.com/questions/36105194/are-eot-ttf-and-svg-still-necessary-in-the-font-face-declaration/36110385#36110385
 **/

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-light.woff2') format('woff2'), url('NeuzeitGrotesk-light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
  font-display: optional; /* Avoids FOUT and FOIT - See https://leerob.io/blog/fonts#font-display */
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-regular.woff2') format('woff2'), url('NeuzeitGrotesk-regular.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: optional; /* Avoids FOUT and FOIT - See https://leerob.io/blog/fonts#font-display */
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-bold.woff2') format('woff2'), url('NeuzeitGrotesk-bold.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: optional; /* Avoids FOUT and FOIT - See https://leerob.io/blog/fonts#font-display */
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-black.woff2') format('woff2'), url('NeuzeitGrotesk-black.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: optional; /* Avoids FOUT and FOIT - See https://leerob.io/blog/fonts#font-display */
}
