/**
 * TL;DR Only use WOFF/WOFF2 format, never use TTF or OTF
 *
 * @see https://stackoverflow.com/questions/11002820/why-should-we-include-ttf-eot-woff-svg-in-a-font-face
 * @see https://stackoverflow.com/questions/36105194/are-eot-ttf-and-svg-still-necessary-in-the-font-face-declaration/36110385#36110385
 **/

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-light.woff2') format('woff2'), url('NeuzeitGrotesk-light.woff') format('woff');
  font-style: normal;
  font-weight: 200;
  font-display: swap; /* Perf optimization - See https://web.dev/font-display */
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-regular.woff2') format('woff2'), url('NeuzeitGrotesk-regular.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap; /* Perf optimization - See https://web.dev/font-display */
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-bold.woff2') format('woff2'), url('NeuzeitGrotesk-bold.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* Perf optimization - See https://web.dev/font-display */
}

@font-face {
  font-family: 'neuzeit-grotesk';
  src: url('NeuzeitGrotesk-black.woff2') format('woff2'), url('NeuzeitGrotesk-black.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap; /* Perf optimization - See https://web.dev/font-display */
}
