# Summary:
# Run Unit and coverage tests, then upload it to Code Climate dashboard
# Read ./README.md for extensive documentation

name: Update Code Climate Coverage

on:
  push:
    branches:
      - 'v2-mst-aptd-gcms-lcz-sty' # Change this branch name by your "main" branch use
      - 'CodeClimate-integration'

jobs:
  setup-environment:
    name: Setup deployment environment (Ubuntu 18.04 - Node 12.x)
    runs-on: ubuntu-18.04
    steps:
      - name: Installing node.js
        uses: actions/setup-node@v1 # Used to install node environment - XXX https://github.com/actions/setup-node
        with:
          node-version: '12.x' # Use the same node.js version as the one Zeit's uses (currently node12.x)
  run-tests-coverage:
    name: Run tests coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Installing dependencies
        run: yarn install
      - uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }} # Fill this secret to make it works for you.
        with:
          coverageCommand: yarn test:coverage
