# Summary:
# Run Unit and coverage tests, then upload it to Code Climate dashboard
# Read ./README.md for extensive documentation

name: Update Code Climate test coverage

on:
  push:
    branches:
      - 'v2-mst-aptd-at-lcz-sty' # Change this branch name by your CodeClimate "main" branch use

jobs:
  # Configures the deployment environment, install dependencies (like node, npm, etc.) that are requirements for the upcoming jobs
  # Ex: Necessary to run `yarn test:coverage`
  setup-environment:
    name: Setup deployment environment (Ubuntu 18.04 - Node 12.x)
    runs-on: ubuntu-18.04
    steps:
      - name: Installing node.js
        uses: actions/setup-node@v1 # Used to install node environment - XXX https://github.com/actions/setup-node
        with:
          node-version: '12.x' # Use the same node.js version as the one Zeit's uses (currently node12.x)
  run-tests-coverage:
    name: Run tests coverage and send report to Code Climate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Installing dependencies
        run: yarn install
      - uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }} # XXX Define this secret in "Github repo > Settings > Secrets", you can get it from Code Climate in "Repo settings > Test coverage".
        with:
          coverageCommand: yarn test:coverage:group:no-integration
